<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Images/MapSuite.ico")">
    <link href="@Url.Content("~/Content/jquery-ui-1.10.4.custom.min.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/styles.css")" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.4.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ready-functions.js")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
